.package {
	display: -webkit-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e6e8ec;
    padding: 24px;
    text-align: center;
    margin-bottom: 24px;
}


.row-eq-height {
	float: left;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

#title{
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 20px;
}

#footer {
	margin-top: 20px;
	text-align: center;
}